@import 'variables.scss';
 
.loginContainer{
    width: 700px;
    background-color: white;
    margin: auto;
    position: relative;
    margin-top: 150px;

    .form-horizontal {
        margin: auto;
        padding: 10px;
        padding-top: 21px;
        background-color: white;
      }
}



