<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ThemeLeaf - EmployeeApp&trade;</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>

 <div class="container my-2">
 <h1>ThemeLeaf - EmployeeApp&trade;</h1>
 
<div class="list-group">
  <a href="all" class="list-group-item list-group-item-action active"> All Employees</a>
  <a href="addEmployee" class="list-group-item list-group-item-action">Add Employee</a>
</div>
 </div>
</body>
</html>